.portfolioFilter ul li a {
    margin-bottom: 5px;
}
ul.categories li a.active-item{
    color: #99cc66;
}
div.tag_cloud_blog a.active-item-tag{
    border-color: #99CC66;
    background: #99CC66;
    color: #ffffff !important;
    text-decoration: none;
}
.overflowholder {
    display: flex;
    flex-wrap: wrap;
}

.fancybox {
    max-height: 300px;
    display: block;
}

.fancybox img {
    max-width: 100%;
    display: block;
}

li.current-my-disable span {
    display: inline-block;
    padding: 5px 11px;
    border-radius: 2px;
    background-color: #353535;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: open sans;
    cursor: pointer;
}

ul.pagination li a {
    height: 29px;
    border-radius: 2px;
}

.pagination > li.current-my > a {
    border-radius: 2px;
    background-color: #99cc66;
    color: #fff;
    font-size: 12px;
    font-family: open sans;
    height: 29px;
}

li.next a, .pagination > li > a, .pagination > li > span, li.prev a {
    background-color: #353535;
    margin: 0px 2px;
    color: #fff;

}
.Visible {
    display: block;
}

.nonVisible {
    display: none;
}
